* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
}

header {
	background: #ffffff url("../imgs/delivery.jpeg") no-repeat center;
	height: 100vh;
}
#adress {
    position: absolute;
    top: 45vh;
}
input::placeholder {
  font-size: 2.3rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: yellow;

}
input {
  font-family: sans-serif;
}
.restGrid {
    font-size: 2.5rem;
}
.name {
    font-size: 2rem;
    color: #A7C9CA;
}
.restGrid p {
    font-size: 1.4rem;
}
.restGrid img {
    width: 30%;
}
.powered {
    font-size: 1rem;
}
#rest1 {
    background: #fff url("../imgs/rest/1.jpeg") no-repeat center;
}
#rest2  {
    background: #fff url("../imgs/rest/2.jpeg") no-repeat center;
}
#rest3  {
    background: #fff url("../imgs/rest/3.jpg") no-repeat center;
}
#rest4  {
    background: #fff url("../imgs/rest/4.jpg") no-repeat center;
}
#rest5  {
    background: #fff url("../imgs/rest/5.jpg") no-repeat center;
}
#rest6  {
    background: #fff url("../imgs/rest/6.jpg") no-repeat center;
}
#rest7  {
    background: #fff url("../imgs/rest/7.jpg") no-repeat center;
}
#rest8  {
    background: #fff url("../imgs/rest/8.jpg") no-repeat center;
}

.tph {
    height: 210px;
    background-repeat: no-repeat !important;
    background-position: right top;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 361px) {
    .navbar-nav {
        width: auto;
    }
}
.navbar-nav li {
    float: none;
    display: inline-block;
}
.dropdown a {
    color: grey;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #fff;
    border-color: #337ab7;
}